* {
  margin: 0;
  font-family: $body-font;
}

// #sideNav {
//   // display: flex;
//   // flex-direction: column;
//   position: absolute;
//   float: left;
//   min-width: 15vw;
//   height: 100%;
//   background-color: black;
// }

// #sideNav ul {
//   padding: 0;
// }

// #sideNav ul li {
//   display: flex;
//   list-style: none;
//   justify-content: center;
//   margin: 0;
// }

#topNav {
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  // height: 50px;
  // padding-right: 35px;
  background-color: $nav-background-color;
}

.navButton, .navButton:a {
  padding: 5px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  justify-content: end;
}

.tetra {
  color: $accent-color;
  font-family: $header-font;
}
// #topNav ul li {
//   list-style: none;
//   display: inline-block;
//   padding-right: 15px;
// }

// .navButton a {
//   padding: 5px;
//   font-weight: bold;
//   text-decoration: none;
//   color: white;
// }

#tetrachrome {
  display: flex;
  height: 100%;
  height: 250em;
}
#container {
  width: 60%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

#side-container {
  flex-grow: 1;
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

// #frontend-container {
//   padding: 15px;
//   border: 1px solid red;
// }

// #backend-container {
//   padding: 15px;
//   border: 1px solid blue;
// }



// TREE CSS
// body {
//   text-align: center;
// }

// svg {
//   margin-top: 32px;
//   border: 1px solid #aaa;
// }

// .person rect {
//   fill: #fff;
//   stroke: steelblue;
//   stroke-width: 1px;
// }

// .person {
//   font: 14px sans-serif;
//   cursor: pointer;
// }

// .link {
//   fill: none;
//   stroke: #ccc;
//   stroke-width: 1.5px;
// }