* {
  margin: 0;
  font-family: $body-font;
}

#topNav {
  background-color: $nav-background-color;
}

.navButton, .navButton:a {
  padding: 5px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  justify-content: end;
}

.tetra {
  color: $accent-color;
  font-family: $header-font;
  font-weight: 900;
}

h2 {
  color: $page-header-font-color;
  font-family: $header-font;
  font-size: 24px;
}
h2 {
  color: $page-header-font-color;
  font-family: $header-font;
  font-size: 24px;
}

#wrapper {
  display: flex;
  height: 100%;
  height: 250em;
  padding: 15px;
  background-color: rgb(192 178 196 / 14%);
}
#container {
  width: 40%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

#side-container {
  flex-grow: 1;
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

.subtitle {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  font-family: 'Unica One';
  font-weight: 700;
  color: white;
  font-size: 24px;
  text-align: center;
}

.user
{
  background: rgb(11,7,15);
  background: radial-gradient(circle, rgba(11,7,15,1) 0%, rgba(9,9,121,1) 73%, rgba(83,12,113,1) 100%);
}

// styling for tetrachrome components labels
.tc
{
  background: rgb(63,76,251);
  background: radial-gradient(circle, rgba(63,76,251,1) 0%, rgba(219,70,252,1) 100%);  
}

.css-n4ae6w {
  background-color: #663dff;
  background-image: linear-gradient(161deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
}
