@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');

$header-font: "April Fatface", serif;
$body-font: "Lato", sans-serif;

$nav-background-color: #293462;
$page-background-color: #040404;
$accent-color: #FEB139; 

$header-font-color1: #FCFFE7;
$header-font-color2: #BAD7E9;
$page-header-font-color: #EB455F;