@import url('https://fonts.googleapis.com/css2?family=Inter&family=Unica+One&display=swap');

$header-font: "Unica One", serif;
$body-font: "Inter", sans-serif;

$nav-background-color: #9c68aa;
$page-background-color: #53369c;
$accent-color: #c2b7c5; 

$header-font-color1: #FCFFE7;
$header-font-color2: #BAD7E9;
$page-header-font-color: #d8abd5;