/* custom-tree.css */
div#treeWrapper {
    border: double;
    height: 100%;
    align-items:center;
    background-color: #ecdbf4cc;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.node__root > circle {
    fill: rgba(230, 95, 217, 0.975);
    font-family: 'Inter';
}
  
.node__branch > circle {
    fill: rgb(80, 38, 136);
    font-family: 'Inter';
}

// font of node name
.rd3t-label__title {
    font-family: 'Inter';
}

.node__leaf > circle {
    fill: green;
    /* Let's also make the radius of leaf nodes larger */
    r: 40;
}